{% extends 'shared/base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'submissions.css' %}">
    <link rel="stylesheet" href="{% static 'report.css' %}">
{% endblock %}

{% block content %}
    <h1>Report for: {{ student.first_name }} {{ student.last_name }}</h1>

    <section class="cohort_info">
        <div class="cohort_info__section">
            <h2>Accepted Cohort</h2>
            <form action="{% url 'student_update' %}" method="post">
                {% csrf_token %}
                <select name="cohort">
                    <option value="">Accepted to...</option>
                    {% for cohort in cohorts %}
                        <option value="{{ cohort.id }}">{{ cohort.name }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" value="{{ student.id }}" name="student" />
                <button>Update</button>
            </form>
        </div>

        <div class="cohort_info__section">
            <h2>Transfer</h2>
            <form action="{% url 'student_transfer' %}" method="post">
                {% csrf_token %}
                <select name="transfer_cohort">
                    <option value="">Transferred to...</option>
                    {% for cohort in cohorts %}
                        <option value="{{ cohort.id }}">Transfer to {{ cohort.name }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" value="{{ student.id }}" name="student" />
                <button>Update</button>
            </form>
        </div>

        <div class="cohort_info__section">
            <h2>Withdrawal</h2>
            <form action="{% url 'student_withdrawal' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ student.id }}" name="student" />
                <button>Mark as withdrawn</button>
            </form>
        </div>
    </section>

    <h2>Cohort History</h2>
    <ol>
    {% for entry in cohort_history %}
        <li {% if entry.initial == True %}class="initial_cohort"{% endif %}>
            Assigned to {{ entry.cohort.name }} on {{ entry.timestamp|date:"M d, Y" }}
        </li>
    {% endfor %}
    </ol>

    <h2>Foundations Course Progress</h2>
    <report>
        <classroom>Intro to Variables: {{ scores.intro_variables_percent|stringformat:"d%%" }}</classroom>
        <classroom>Intro to Arrays: {{ scores.intro_iteration_percent|stringformat:"d%%" }}</classroom>
        <classroom>Intro to Objects: {{ scores.intro_objects_percent|stringformat:"d%%" }}</classroom>
        <classroom>Intro to Functions: {{ scores.intro_functions_percent|stringformat:"d%%" }}</classroom>
        <classroom>Conditions Practice: {{ scores.condition_percent|stringformat:"d%%" }}</classroom>
        <classroom>Arrays Practice: {{ scores.iteration_percent|stringformat:"d%%" }}</classroom>
        <classroom>Functions Practice: {{ scores.function_percent|stringformat:"d%%" }}</classroom>
    </report>

    <h2>Submission History</h2>
    {% for submission in submissions %}
    <section class="submission">
        <div class="submission__classroom">
            {{ submission.classroom.title }}
        </div>
        <div class="submission__exercise">
            {{ submission.exercise }}
        </div>
        <div class="submission__timestamp">
            {{ submission.time_submitted|date:"M d, Y H:i" }}
        </div>
    </section>
    {% endfor %}

{% endblock %}
