{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Foundations Tracker</title>
    <link rel="stylesheet" href="http://nss.team/tracker/submissions.css">
</head>

<body>
    <h1>Submissions</h1>

    <article class="submissions">
        <section class="submission__headers">
            <div class="header header--student">
                <a class="link--sort" href="{% url 'submission_list' %}?order_by=student&direction=asc"> ⬆ </a>
                Student
                <a class="link--sort" href="{% url 'submission_list' %}?order_by=student&direction=desc"> ⬇ </a>
            </div>
            <div class="header header--cohort">
                <a class="link--sort" href="{% url 'submission_list' %}?order_by=cohort&direction=asc"> ⬆ </a>
                Cohort
                <a class="link--sort" href="{% url 'submission_list' %}?order_by=cohort&direction=desc"> ⬇ </a>
            </div>
            <div class="header header--classroom">
                <a class="link--sort" href="{% url 'submission_list' %}?order_by=classroom&direction=asc"> ⬆ </a>
                Classroom
                <a class="link--sort" href="{% url 'submission_list' %}?order_by=classroom&direction=desc"> ⬇ </a>
            </div>
            <div class="header header--exercise">
                <a class="link--sort" href="{% url 'submission_list' %}?order_by=exercise&direction=asc"> ⬆ </a>
                Exercise
                <a class="link--sort" href="{% url 'submission_list' %}?order_by=exercise&direction=desc"> ⬇ </a>
            </div>
            <div class="header header--date">
                <a class="link--sort" href="{% url 'submission_list' %}?order_by=time_submitted&direction=asc"> ⬆ </a>
                Date
                <a class="link--sort" href="{% url 'submission_list' %}?order_by=time_submitted&direction=desc"> ⬇ </a>
            </div>
        </section>
        {% for submission in all_submissions %}
        <section class="submission">
            <div class="submission__student">
                <a href="{% url 'student_report' submission.student.id %}">{{ submission.student.first_name }} {{ submission.student.last_name }}</a>
            </div>
            <div class="submission__cohort">
                {{ submission.student.cohort }}
            </div>
            <div class="submission__classroom">
                {{ submission.classroom.title }}
            </div>
            <div class="submission__exercise">
                {{ submission.exercise }}
            </div>
            <div class="submission__timestamp">
                {{ submission.time_submitted|date:"M d, Y H:i" }}
            </div>
        </section>
        {% endfor %}
    </article>
</body>

</html>