{% extends 'shared/base.html' %}

{% block content %}

    <h1>Submissions</h1>

    <article class="submissions">
        <section class="submission__headers">
            <div class="header header--student">
                <a class="link--sort" href="{% url 'submission_list' %}?order_by=student&direction=asc"> ⬆ </a>
                Student
                <a class="link--sort" href="{% url 'submission_list' %}?order_by=student&direction=desc"> ⬇ </a>
            </div>
            <div class="header header--cohort">
                <a class="link--sort" href="{% url 'submission_list' %}?order_by=cohort&direction=asc"> ⬆ </a>
                Cohort
                <a class="link--sort" href="{% url 'submission_list' %}?order_by=cohort&direction=desc"> ⬇ </a>
            </div>
            <div class="header header--classroom">
                <a class="link--sort" href="{% url 'submission_list' %}?order_by=classroom&direction=asc"> ⬆ </a>
                Classroom
                <a class="link--sort" href="{% url 'submission_list' %}?order_by=classroom&direction=desc"> ⬇ </a>
            </div>
            <div class="header header--exercise">
                <a class="link--sort" href="{% url 'submission_list' %}?order_by=exercise&direction=asc"> ⬆ </a>
                Exercise
                <a class="link--sort" href="{% url 'submission_list' %}?order_by=exercise&direction=desc"> ⬇ </a>
            </div>
            <div class="header header--date">
                <a class="link--sort" href="{% url 'submission_list' %}?order_by=time_submitted&direction=asc"> ⬆ </a>
                Date
                <a class="link--sort" href="{% url 'submission_list' %}?order_by=time_submitted&direction=desc"> ⬇ </a>
            </div>
        </section>
        {% for submission in all_submissions %}
        <section class="submission">
            <div class="submission__student">
                <a href="{% url 'student_report' submission.student.id %}">{{ submission.student.first_name }} {{ submission.student.last_name }}</a>
            </div>
            <div class="submission__cohort">
                {% if submission.student.cohort.id is not None %}
                    <a href="{% url 'cohort_report' submission.student.cohort.id %}">{{ submission.student.cohort.name }}</a>
                {% else %}
                    <form class="cohortForm--{{ submission.id }}" action="{% url 'quick_student_update' %}" method="post">
                        {% csrf_token %}
                        <select name="cohortSelect" class="cohortSelect" id="cohortSelect--{{ submission.id }}">
                            <option value="">Assign...</option>
                            {% for cohort in all_cohorts %}
                                <option value="{{ cohort.id }}">{{ cohort.name }}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" value="{{ submission.student.id }}" name="student" />
                        <input type="hidden" value="submission_list" name="view" />
                    </form>
                {% endif %}
            </div>
            <div class="submission__classroom">
                {{ submission.classroom.title }}
            </div>
            <div class="submission__exercise">
                {{ submission.exercise }}
            </div>
            <div class="submission__timestamp">
                {{ submission.time_submitted|date:"M d, Y H:i" }}
            </div>
        </section>
        {% endfor %}
    </article>

{% endblock %}

{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'submissions.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/dashboard.js' %}"></script>
{% endblock %}

