@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
    font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 900;
    font-family: "Patua One", serif;
    letter-spacing: 2px;
}

.cohorts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cohort {
    flex-basis: 22%;
    border: 1px dotted lightskyblue;
    padding: 1rem;
    text-align: center;
    margin: 1rem 0;
}

.add-cohort {
    border: 1px dotted lightskyblue;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    height: 6rem;
    width: 25%;
    margin: 0 auto;
}

.giant {
    font-size: 7rem;
    top: -2rem;
    position: relative;
}