@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.submission__headers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px dotted lightslategray;
    padding: 1rem;
    background-color: chocolate;
    color: #ffd07e;
}

.header {
    font-weight: bold;
    font-size: larger;
}

.header--student {
    flex: 2
}

.header--classroom {
    flex: 3
}

.header--exercise {
    flex: 3
}

.header--date {
    flex: 1
}

.submission {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px dotted lightslategray;
    padding: 1rem;
}

.submission__student {
    flex: 2
}

.submission__classroom {
    flex: 3
}

.submission__exercise {
    flex: 3
}

.submission__timestamp {
    flex: 1
}